<div class="bg-[#F0F8FA]">
  <div class=" px-8 md:px-12 lg:px-20 xl:px-44 p-16  ">
    <h4 class="text-[#2B4B5F] text-2xl md:text-[32px] leading-10 font-extrabold text-center  mb-8"> Meet our <span class="text-[#a7cdca]">CEO</span>  <span class="text-[#2B4B5F]"></span> </h4>
    <div class="md:w-[70%] block mx-auto">
      <p class="md:text-lg text-base text-[#2B4B5F]  leading-10">Elsie Nwaise, she is passionate about customer service delivery and has over 15years experience in organizational and strategic leadership in operations, finance and customer care from the banking industry.
      </p>
      <p class="md:text-lg text-base text-[#2B4B5F] leading-10">She has had the responsibility of training many diverse teams. She is a leader, dynamic and highly focused individual. After working in the United Kingdom for a couple of years, she returned to Nigeria where she realized that there was a great need in the environment for proper customer care and etiquette.</p>
      <p class="md:text-lg text-base text-[#2B4B5F] leading-10">Elsie holds an MBA degree from Southampton Solent University, UK and a M.SC degree in Environmental toxicology and Pollution Management from the University of Lagos, Nigeria.
      </p>
      <p class="md:text-lg text-base text-[#2B4B5F] leading-10">Donna Brown, has over 10years of experience in Human Resources in corporate Canada, Germany and UAE, mentoring and guiding people. This ignited Donna’s interest in leadership development in particular career and life coaching as a process to empower individuals to realize their full potentials. Having lived in various countries with diverse cultures, Donna understands the many complexities in this world.
      </p>
      <p class="md:text-lg text-base text-[#2B4B5F] leading-10">Donna is an ICF certified Professional Coach. She focuses on Mindset and leadership coaching principles. Donna supports and encourages individuals to achieve their dreams both personally and professionally using one on one sessions that are carefully tailored programs and through masterclass, workshops and retreat. It is Donna’s dream to see people reach their life’s goals and thrive.
      </p>
      <p class="md:text-lg text-base text-[#2B4B5F] leading-10">Keep in touch = We appreciate your consideration by visiting our website and would welcome the opportunity to discuss it further. Please do not hesitate to reach out to us and schedule a meeting at your earliest convenience. We are confident that our customer service consulting services will bring significant value to your esteemed organization.
      </p>
    </div>
    </div>
</div>
