<div class="bg-[#F0F8FA] h-screen">
  <div class=" px-8 md:px-12 lg:px-20 xl:px-44 p-16  ">
    <h4 class="text-[#2B4B5F] text-2xl md:text-[32px] leading-10 font-extrabold text-center  mb-8"> Meet our <span class="text-[#a7cdca]">CEO</span>  <span class="text-[#2B4B5F]"></span> </h4>
    <div class="md:w-[50%] block mx-auto">
      <p class="md:text-lg text-base text-[#2B4B5F]  leading-10">Elsie Nwaise - Director, En-Turquoise global services limited. She is passionate about Customer Service  Delivery and has vast experience (>20years) in organizational and strategic leadership in operations, finance and customer care from the banking industry.
      </p>
      <p class="md:text-lg text-base text-[#2B4B5F] leading-10">Elsie holds a MBA degree from Southampton Solent University, UK and a MSc degree in Environmental Toxicology and Pollution Management from University of Lagos, Nigeria.</p>
   
    </div>
    </div>
</div>
