<div class="">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <section class="px-8 md:px-12 lg:px-20 xl:px-44 py-16 bg-[#F0F8FA]" id="about">
    <div class="md:w-[400px] mx-auto">
      <h4 class="text-center font-bold inter text-2xl mb-4  leading-7 text-[#a7cdca]">Overview</h4>
      <p  class="text-center md:text-base text-base  flex mx-auto text-[#2B4B5F]"> At Our company, we train for services to support your company in acheiving it's goals for improving customer satisfaction
        by providing training and post-sale support services for your new frontline staff.
      </p>
    </div>
    <div class="block md:grid grid-cols-12 gap-8 my-6 items-center" data-aos="fade-up-right">
      <div class="col-span-6 p-5 md:p-7 lg:p-12 ">
        <img src="assets/images/overview.jpg" alt="" class="w-full rounded">
      </div>
      <div
        data-aos="fade-up-left"
        class="p-5 md:p-7 lg:p-12 col-span-5 rounded mt-8 md:mt-0"
      >
      <h4
          class="text-[#2B4B5F] text-2xl md:text-[32px] leading-10 font-extrabold lg:w-[462px]"
        >
          <span class="text-[#ACAE46]">Empowering</span> Your Team 
        </h4>
        <p class="text-[#2B4B5F] md:text-lg leading-[40px] text-base mt-8">
          Providing comprehensive training to your staff in the art of 
          exceptional customer service will play a pivotal role in achieving
           your overarching objectives of heightened customer satisfaction,
            increased customer retention rates, and sustainable business expansion. 
            This investment in skills development is a strategic step toward achieving 
            long-term success in today's competitive market.
        </p>
      </div>
    </div>
   
  </section>

  <section class="px-8 md:px-24 lg:px-48 py-16 bg-white" id="objective">
    <h4 class="text-[32px] leading-8 font-extrabold text-[#2B4B5F] mb-24 text-center">
      <span class="text-[#ACAE46]">Our</span> objectives  
    </h4>
   <div data-aos="flip-right"
   data-aos-easing="ease-out-cubic"
   data-aos-duration="500"
    class="md:grid grid-cols-2 gap-4 items-center">
    <div>
      <img src="assets/images/objective.jpg" alt="objective" class="rounded-md">
    </div>
    <div class="md:p-16 py-8 lg:p-24">
      <p class="md:text-xl text-base leading-8 text-[#2B4B5F] ">
        We at EN_Turquoise Global Services believe in the 3 P's of custommer service namely : Proffesionalism, Patience and People - First attitude and this is communicated in our training's. 
      </p>
    </div>
   </div>

   <div
   data-aos="flip-left"
   data-aos-easing="ease-out-cubic"
   data-aos-duration="500"
   class="grid grid-cols-1 bg-white sm:grid-cols-2 lg:grid-cols-4 gap-12 mt-24"
 >
   <div class="card-shadow p-8 rounded-lg !bg-white">
     <img
       src="assets/images/Halloween video call-pana.svg"
       alt=""
       class="rounded-tl-lg rounded-tr-lg w-full"
     />
     <div class="">
       <p class="text-[#2B4B5F] text-xl inter text-center mt-4">
         Build strong culture and reputation
       </p>
     </div>
   </div>
   <div class="card-shadow p-8 rounded-lg !bg-white">
     <img
       src="assets/images/Customer relationship management-bro.svg"
       alt=""
       class="rounded-tl-lg rounded-tr-lg w-full"
     />
     <div class="">
       <p class="text-[#2B4B5F] text-xs inter mb-6"></p>
       <p class="text-[#2B4B5F] text-xl inter text-center mt-4">
        Improve responses to customer queries
       </p>
     
     </div>
   </div>
   <div class="card-shadow p-8 rounded-lg !bg-white">
     <img
       src="assets/images/Customer Survey-pana.svg"
       alt=""
       class="rounded-tl-lg rounded-tr-lg w-full"
     />
     <div class="">
       <p class="text-[#2B4B5F] text-xl inter text-center mt-4">
         Increase in customer satisfaction and customer stickness
       </p>
       
     </div>
   </div>
   <div class="card-shadow p-8 rounded-lg bg-white">
     <img
       src="assets/images/Children-bro.svg"
       alt=""
       class="rounded-tl-lg rounded-tr-lg w-full"
     />
     <div class="">
       <p class="text-[#2B4B5F] text-xl inter text-center mt-4">
       improve employee happiness
       </p>
     </div>
   </div>
 </div>
 <section class="my-8">
  <h4 class="text-[32px] leading-8 font-extrabold lg:mt-32 text-[#2B4B5F] mb-24 text-center" id="Opportunity">
    Opportunities
  </h4>
  <div 
  data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
   data-aos-duration="500"
   class="md:grid grid-cols-2 gap-8 md:h-[250px]">
    <div class="card-shadow rounded-lg !bg-white">
      <img
        src="../../../assets/images/training.jpg"
        alt=""
        class="rounded-tl-lg w-full rounded-tr-lg"
      />
      <div class="">
        <p class="text-[#2B4B5F] p-6 text-xl inter text-center mt-4">
         Train all customer representatives
        </p>
      </div>
    </div>
    <div data-aos="flip-right"
    data-aos-easing="ease-out-cubic"
     data-aos-duration="500"
     class="card-shadow  rounded-lg !bg-white mt-8 md:mt-0">
      <img
        src="assets/images/training-22.jpg"
        alt=""
        class="  w-full mx-auto  rounded-tl-lg rounded-tr-lg"
      />
      <div class="">
        <p class="text-[#2B4B5F] text-xl p-6 inter text-center mt-4">
          Integrate training and focus
        </p>
      </div>
    </div>
    <div></div>
  </div>
 </section>
  </section>
  <section class="px-8 md:px-24 !bg-white lg:px-48 py-16 lg:py-48 mt-28" id="contact">
    <h4 class="text-[#2B4B5F] text-2xl md:text-[32px] lg:mt-32 leading-10 font-extrabold text-center mb-24"> Contact Us</h4>
    <div class="w-full grid grid-cols-1 gap-12 items-center md:grid-cols-2">
      <div
        data-aos="zoom-in-up"
        data-aos-duration="3000"
        class="p-6 mt-12 md:mt-0 lg:p-0 w-full mx-auto"
      >
        <div
          class="bg-[#286C7E] rounded-[40px] mx-auto w-auto  md:h-[498px] -rotate-12"
        >
          <div
            class="bg-[#F0F8FA] card-shadow mx-auto rounded-[40px] w-auto  md:h-[498px] rotate-12 p-2 lg:p-6 md:p-8 lg:p-16 flex items-center"
          >

            <div class="w-full">
              <div class="mt-8 w-full">
                <input
                  type="text"
                  class="rounded w-full !bg-white text-base block border-[#EBEBF2] px-6 py-4 my-4"
                  placeholder="Enter Name"
                />
                <input
                type="email"
                class="rounded w-full !bg-white text-base block border-[#EBEBF2] px-6 py-4 my-4"
                placeholder="Email"
              />
                <textarea name="" id="" cols="10" rows="5" class="rounded w-full !bg-white text-base block border-[#EBEBF2] px-6 py-4 my-4"></textarea>
                <button
                  class="block w-full bg-[#2B4B5F] text-[#F0F8FA] rounded mt-12 inter font-medium text-base text-center leading-[19.6px] py-3"
                >
                  Send Message 
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="md:px-4 lg:px-16" >
       

        <div class="mt-6">
          <h4 class="text-[#2B4B5F] text-2xl md:text-[32px] leading-10 font-extrabold  mb-8"> Meet our CEO <span class="text-[#2B4B5F]"></span> </h4>
          <p class="md:text-lg text-base text-[#2B4B5F] leading-10">Elsie Nwaise - Director, En-Turquoise global services limited. She is passionate about Customer Service  Delivery and has vast experience (>20years) in organizational and strategic leadership in operations, finance and customer care from the banking industry.
          </p>
          <p class="md:text-lg text-base text-[#2B4B5F] leading-10">Elsie holds a MBA degree from Southampton Solent University, UK and a MSc degree in Environmental Toxicology and Pollution Management from University of Lagos, Nigeria.</p>
        </div>

        
      </div>
    </div>
   
  </section>

  <app-footer></app-footer>
</div>
