<footer class="footer-bg">
  <div
    class="block md:grid grid-cols-12 border-t gap-4 px-6 md:px-12 lg:px-32 py-8 items-center border-[#EBEBF2]"
  >
    <div class="col-span-5 lg:col-span-7 hidden md:block">
      <p class="text-[#F0F8FA] text-sm leading-[19.6px] inter cursor-pointer">
        © 2024 All rights reserved.
      </p>
    </div>
    <div class="col-span-7 block md:hidden">
      <p class="text-[#F0F8FA] text-sm leading-[19.6px] inter cursor-pointer">
        © 2024 All rights reserved.
      </p>
    </div>
  </div>
</footer>
