<footer class="footer-bg">
  <div
    class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-[unset] px-8 md:px-12 lg:px-24 xl:px-48 py-16"
  >
    <div
      class="lg:col-span-7 xl:col-span-8 lg:border-r pr-8 lg:border-[#EBEBF2] block md:grid grid-cols-3"
    >
      <div>
        <h4 class="font-medium text-[#F0F8FA] text-2xl leading-[28.8px]">
          More Info
        </h4>
        <ul class="mt-8">
          <li
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            Historic Dates
          </li>
          <li
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            Gallery
          </li>
          <li
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            News
          </li>
          <li
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            Privacy Policy
          </li>
        </ul>
      </div>
      <div>
        <h4 class="font-medium text-[#F0F8FA] text-2xl leading-[28.8px]">
          Social
        </h4>
        <ul class="mt-8">
          <li
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            Facebook
          </li>
          <li
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            Twitter
          </li>
          <li
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            Instagram
          </li>
        </ul>
      </div>
      <div>
        <h4 class="font-medium text-[#F0F8FA] text-2xl leading-[28.8px]">
          Contact Us
        </h4>
        <div class="mt-8">
          <p
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer"
          >
            Historic 4, Oluwaleyimu Street, P.O.Box 15750, Ikeja, Lagos,
            Nigeria.
          </p>

          <p
            class="text-[#EBEBF2] text-sm leading-[19.6px] my-4 inter cursor-pointer break-words"
          >
            080-23202255, 081 -3843 0600, 070-84009851, 080-34612197,
            080-88981824
          </p>
        </div>
      </div>
    </div>
    <div class="lg:col-span-5 xl:col-span-4 lg:pl-20 xl:pl-24">
      <p class="font-semibold text-base inter leading-6 text-[#F0F8FA]">
        Sign up for daily parallel market FX rates
      </p>
      <p class="text-[#F0F8FA] text-sm font-normal leading-[19.6px]">
        We promise we won’t spam you.
      </p>
      <div class="mt-8">
        <input
          type="email"
          class="rounded w-full max-w-[320px] bg-white text-base block border-[#EBEBF2] px-6 py-4"
          placeholder="youremail@email.com"
        />
        <button
          class="block w-full max-w-[320px] bg-[#ACAE46] rounded mt-3 inter font-medium text-base text-center leading-[19.6px] py-3"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
  <div
    class="block md:grid grid-cols-12 border-t gap-4 px-6 md:px-12 lg:px-32 py-8 mt-8 items-center border-[#EBEBF2]"
  >
    <div class="col-span-5 lg:col-span-7 hidden md:block">
      <p class="text-[#F0F8FA] text-sm leading-[19.6px] inter cursor-pointer">
        © 2021 All rights reserved.
      </p>
    </div>
    <div class="col-span-3 lg:col-span-2 flex gap-4 items-center">
      <p class="text-[#F0F8FA] text-sm leading-[19.6px] inter cursor-pointer">
        Powered by ABCON
      </p>
      <img src="assets/images/abcon-logo.svg" alt="" />
    </div>
    <div class="col-span-4 lg:col-span-3 flex gap-4 items-center">
      <p class="text-[#F0F8FA] text-sm leading-[19.6px] inter cursor-pointer">
        Technical Partners: <span class="font-bold">SBSC</span>
      </p>
      <img src="assets/images/SBSC_Logo.svg" alt="" />
    </div>
    <div class="col-span-7 block md:hidden">
      <p class="text-[#F0F8FA] text-sm leading-[19.6px] inter cursor-pointer">
        © 2021 All rights reserved.
      </p>
    </div>
  </div>
</footer>
