<header [ngClass]="showTeam ? 'team-cover' : 'hero-cover'" class="px-8 lg:px-20  xl:px-48 py-8 w-full h-[90vh] relative">
  <div
    #myHeader
    [ngClass]="{ 'sticky top-0': isSticky }"
    class="flex justify-between items-center z-10 transition duration-300 ease-in-out"
  >
    <img src="" alt="" />
    <div class="block md:hidden">
      <span (click)="showMenu = true">
        <img src="assets/images/hamburger.png" alt="" class="w-[32px]">
      </span>
    </div>
    <nav class="hidden md:block z-10">
      <ul class="flex gap-12 items-center">
      
        <li
          class="text-base inter font-medium leading-6 text-[#F0F8FA] hover:text-[#ACAE46] cursor-pointer"
        >
         <a href="/#about"> About us</a>
        </li>
        <li
          class="text-base inter font-medium leading-6 text-[#F0F8FA] hover:text-[#ACAE46] cursor-pointer"
        >
          <a href="/#objective">Objective</a>
        </li>
        <li
          class="text-base inter font-medium leading-6 text-[#F0F8FA] hover:text-[#ACAE46] cursor-pointer"
        >
          <a href="/#Opportunity">Opportunities</a>
        </li>
        <li>
          <button  routerLink="/teams"
            class="text-base inter font-medium leading-6 text-[#F0F8FA] hover:text-[#ACAE46] cursor-pointer"
          >
          <a >Team</a>
          </button>
        </li>
        <li>
          <button
            class="text-base inter font-medium leading-6 text-[#F0F8FA] hover:text-[#ACAE46] cursor-pointer"
          >
           <a href="/#contact"> Contacts</a>
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="my-auto relative top-[50%] translate-y-[-50%] py-16 lg:py-32 z-10">
    <div data-aos="fade-up-left">
      <h1
        class="w-auto lg:w-[479px] z-1 text-[#F0F8FA] text-2xl lg:text-[48px] lg:leading-[57.6px] font-black"
      >
      EN-TURQUOISE
        <span class="text-[#a7cdca] z-index"> GLOBAL SERVICES</span> 
      </h1>
      <p
        class="text-[#CFCFCF] z-10 font-medium text-xl leading-7 my-6 lg:w-[587px]"
      >
        is passionate about customer service delivery and carries out consultancy services for companies on long and short term basis as required
      </p>
    </div>
   
  </div>
<!-- mobile -->
  <div
    class="absolute bg-white p-6 top-8 right-0 z-50"
    (mouseleave)="showMenu = false"
    *ngIf="showMenu"
  >
    <div class="flex justify-end">
      <span (click)="showMenu = false">
        <svg 
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g id="Menu / Close_SM">
              <path
                id="Vector"
                d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </g>
        </svg>
      </span>
    </div>
    <ul class="z-index">
      <li
        class="text-base inter font-medium leading-6 text-[#2B4B5F] my-4 hover:text-[#ACAE46] cursor-pointer"
      >
      <a href="/#about"> About us</a>
 
      </li>
      <li
        class="text-base inter font-medium leading-6 text-[#2B4B5F] my-4 hover:text-[#ACAE46] cursor-pointer"
      >
      <a href="/#objective">Objective</a>

      </li>
      <li
        class="text-base inter font-medium leading-6 text-[#2B4B5F] my-4 hover:text-[#ACAE46] cursor-pointer"
      >
      <a href="/#Opportunity">Opportunities</a>
      </li>
      <li
      class="text-base inter font-medium leading-6 text-[#2B4B5F] my-4 hover:text-[#ACAE46] cursor-pointer"
    >
    <a routerLink="/teams">Team</a>
    </li>
      <li
        class="text-base inter font-medium leading-6 text-[#2B4B5F] my-4 hover:text-[#ACAE46] cursor-pointer"
      >
      <a href="/#contact"> Contacts</a>
      </li>
    </ul>
  </div>
</header>


