.hero-cover {
    background-image: url('../../../../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1; 
    background-color: rgba(129, 206, 213, 0.5); /* Adjust the color and opacity as needed */
  }

  .overlay-container {
    position: relative;
    display: inline-block;
  }